header {
    width: 100vw;
    background-color: rgb(54,60,60);
}
#logo {
    padding: 1em;
}
input {
    width: 20em;
    float: right;
    margin: 2.5em 15em;
    padding: 9px;
    border-radius: 5px;
    border: none;
}
.sidenav {
    display: block;
    width: 250px;
    height: 640%;
    position: absolute;
    left: 0;
    background-color: #d6d8d8;
}
#random {
    margin: 0 auto;
    margin-top: 3em;
    text-align: center;
    width: 10em;
    border: 1px solid black;
    background-color: white;
    padding: .7em;
    border-radius: 10px;
    font-family: 'Source Serif Pro', serif;
}
.color-list {
    padding-top: .4em;
    margin-left: 2em;
    font-family: 'Source Serif Pro', serif;
}
.color-section {
    padding-left: 20%;
    margin: 0 auto;
}
.color-container {
    border: 2px solid rgba(216, 216, 216, 0.604);
    border-radius: 10px;
    display: inline-block;
    margin: 1.5em;
}
.color-pallate {
    display: block;
    margin: 0 auto;
    height: 225px;
    width: 200px;
    border-radius: 9px 9px 0 0 ;
    box-shadow: .5px .3px rgba(189, 189, 189, 0.413);
}
.color-pallate:active {
    width: 60vw;
    height: 40vh;
    display: block;
}

